<a href="https://colab.research.google.com/github/MinByeongHyeon/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Review

# 주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만 읽을수 있음
#        추가로 다른 용법으로는 일정 부분의 코드를 임시로 삭제하는데 사용
#        본인이 기록한 내용을 나중에 확인할때 유용

print("Hello World") # 주석은 코드의 우측 혹은 바로 윗줄에 적는다

Hello World

In [ ]:
# 변수 - 어떤 값을 저장하는 저장소
#        영어 대소문자, 숫자와 언더바로 이루어져 있다
#        가급적으로 한글은 쓰지 않는다

a = 10

In [ ]:
# 인덱싱

s = "world"
print(s[2]) # 파이썬은 인덱스의 시작이 0부터이다
print(s[-1]) # -1은 마지막 인덱스를 가리킨다

addr = "서울시 강남구 역삼동 1번지"
print(addr[4:7]) # 5번째 값부터 7번째 값까지 출력

r
d
강남구

In [ ]:
# 출력

print("출력")

when = "저녁"
print("좋은",when,"입니다")
print("좋은 %s입니다")
print("좋은 {}입니다".format(when))
print(f"좋은 {when}입니다") # 가장 보기 좋은것

출력
좋은 저녁 입니다
좋은 %s입니다
좋은 저녁입니다
좋은 저녁입니다

In [ ]:
# 여러개의 값을 한번에 저장하는 자료형들

######################################################
# 리스트:List  튜플:Tuple   딕셔너리:Dict   셋:Set   #
######################################################

# 리스트
# 개별적 독립적인 자료가 아닌 자료들을 여러개를 모아서 사용하게 도와준다
# 리스트에 넣는 자료를 요소(element)라고 한다

# 리스트는 대괄호[]로 구성된다
list = [1,2,3,4,5]
print(list)

# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# 하지만 하나의 리스트에는 한가지 자료형만 저장하는게 좋다.
list = [1,2,3,"대한","민국"]
print(list)

score=[70,80,90,60]
print(score)
# 리스트는 인덱싱과 슬라이싱이 가능하다
print(score[0]) # 인덱싱
print(score[1:3]) # 슬라이싱

# 리스트는 수정/삭제 가 가능하다
score[0] = 100
print(score)

# 연산이 가능하다
list_a = [1,2,3]
list_b = [4,5,6]
print("list_a = ",list_a)
print("list_b = ",list_b)
print(list_a + list_b)
print(list_a * 3)
print(len(list_a)) # 리스트의 길이

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국']
[70, 80, 90, 60]
70
[80, 90]
[100, 80, 90, 60]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [ ]:
# 리스트에서 많이 사용되는 함수들
# append : 리스트에 요소를 추가할 때 사용, 끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

[100, 80, 90, 60]
[100, 80, 90, 60, 60]
[100, 80, 90, 60, 60, 70]

In [ ]:
# insert : 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가

score.insert(0,10) # 0번째에 10 추가
print(score)

[10, 100, 80, 90, 60, 60, 70]

In [ ]:
# del : 리스트에서 데이터 삭제

list_a = [0,1,2,3,4]
del list_a[1] # 인덱스값으로 위치값 삭제
print(list_a)

del list_a[1:3]
print(list_a)

[0, 2, 3, 4]
[0, 4]

In [ ]:
# pop : 리스트에서 마지막 위치 데이터 삭제

list_a.pop()
print(list_a)

[0]

In [ ]:
# remove : 값으로 삭제

list_a=[1,2,3,1,2]
list_a.remove(2) # remove는 요소의 값을 찾아 삭제한다
                 # 동일한 값이 여러개 있을 경우, 하나씩 순차적으로 삭제한다
print(list_a)

# list_a,clear(1) # 동일한 값이 있어도 전부 삭제 가능하다

[1, 3, 1, 2]

In [ ]:
# in / not in  리스트에 존재하는 요소인지 확인

list = [33,22,44,55,66,77,2]
print(44 in list)

True

In [ ]:
# 딕셔너리
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 저장한다

# 중괄호{}을 사용하여 데이터를 저장한다
# 삽입/삭제 가 가능하다
# 순서가 없으므로 인덱싱과 슬라이싱은 불가능하다

dict = {
    "name":"엔드 게임",
    "type":"히어로 무비",
    "price":10000
}
print(dict)
print(dict["name"])

{'name': '엔드 게임', 'type': '히어로 무비', 'price': 10000}
엔드 게임

In [ ]:
dict = {
    "감독":["안소니","루소"],
    "배우":["타노스","토르","헐크"]
}
print(dict["감독"])

['안소니', '루소']

In [ ]:
dict = {
    "name":"건조 망고",
    "type":"절임 관리",
    "ingredient":["망고","설탕","색소"],
    "origin":"필리핀"
}

print(dict["ingredient"])
print(dict["ingredient"][0])
print(dict["ingredient"].pop())

['망고', '설탕', '색소']
망고
색소

In [ ]:
dict = {}
print(dict)

dict['name'] = "이름"
dict['age'] = 30
print(dict)

del dict["name"]
print(dict)

{}
{'name': '이름', 'age': 30}
{'age': 30}

In [ ]:
# 딕셔너리에서 자주 등장하는 에러
# KeyError : 딕셔너리에 없는 키값을 사용하면 나타나는 에러

dict ={
    "name":"건조 망고",
    "type":"절임 관리",
    "ingredient":["망고","설탕","색소"],
    "origin":"필리핀"
}

key = input("출력를 원하는 키값을 입력하세요 : ")

if key in dict:
  print(dict[key])
else:
  print("존재하지 않는 키값입니다")

출력를 원하는 키값을 입력하세요 : aa
존재하지 않는 키값입니다

In [ ]:
# Set
# 중괄호를 사용하여 작성한다
# 중복을 허용하지 않는다. 순서가 없다. 그래서 인덱싱 슬라이싱이 불가능하다
# set 자료형의 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다

set_ex1 = {1,1,1,2,2,2,2,2,2,3,3}
print(set_ex1)

{1, 2, 3}

In [3]:
s1 = set([1,2,3])
print(type(s1))
print(s1)

li = list(s1)
print(type(li))
print(li[0])

<class 'set'>
{1, 2, 3}
<class 'list'>
1

In [7]:
# A1
num = input("학번을 입력하세요")

print(f'{num[0]}학년 {num[1:3]}반 {num[3:]}반 ')

학번을 입력하세요31025
3학년 10반 25반

In [10]:
# A2

num = input("차량 번호를 입력하세요")

print("{}의 차량번호 끝 4자리는 {}입니다.".format(num,num[-4:]))

차량 번호를 입력하세요서울3가1234
서울3가1234의 차량번호 끝 4자리는 입니다.

In [12]:
# A3

name = input("홀수 갯수의 문자열 입력")
num = int(len(name)/2)
print(name[num])

홀수 갯수의 문자열 입력132
3

In [15]:
# A4
list_ex = [1,2,3,4,5,6,7,8,9]

print(list_ex[2:8][1])

4

In [17]:
# A5
num = int(input("숫자를 입력하세요"))
if num%3:
  print("{}는 3의 배수가 아닙니다".format(num))
else:
  print("{}는 3의 배수입니다".format(num))

숫자를 입력하세요2
2는 3의 배수입니다

In [20]:
num1 = int(input("정수1 입력"))
num2 = int(input("정수2 입력"))
num3 = int(input("정수3 입력"))

if num1>num2:
  if num1>num3:
    max = num1
  else:
    max = num3
else:
  if num2>num3:
    max = num2
  else:
    max = num3

print("가장 큰수는 {} 입니다".format(max))

정수1 입력3
정수2 입력5
정수3 입력6
가장 큰수는 2 입니다

In [21]:
num1 = int(input("정수1 입력"))
num2 = int(input("정수2 입력"))
num3 = int(input("정수3 입력"))

li =[]
li.append(num1)
li.append(num2)
li.append(num3)

li.sort()

print(li.pop())

정수1 입력3
정수2 입력5
정수3 입력1
5