<a href="https://colab.research.google.com/github/MinByeongHyeon/ai/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Review

# 주석 - 코드에 대한 설명, 컴퓨터는 읽지 않고 사람만 읽을수 있음
#        추가로 다른 용법으로는 일정 부분의 코드를 임시로 삭제하는데 사용
#        본인이 기록한 내용을 나중에 확인할때 유용

print("Hello World") # 주석은 코드의 우측 혹은 바로 윗줄에 적는다

Hello World

In [2]:
# 변수 - 어떤 값을 저장하는 저장소
#        영어 대소문자, 숫자와 언더바로 이루어져 있다
#        가급적으로 한글은 쓰지 않는다

a = 10

In [3]:
# 인덱싱

s = "world"
print(s[2]) # 파이썬은 인덱스의 시작이 0부터이다
print(s[-1]) # -1은 마지막 인덱스를 가리킨다

addr = "서울시 강남구 역삼동 1번지"
print(addr[4:7]) # 5번째 값부터 7번째 값까지 출력

r
d
강남구

In [4]:
# 출력

print("출력")

when = "저녁"
print("좋은",when,"입니다")
print("좋은 %s입니다")
print("좋은 {}입니다".format(when))
print(f"좋은 {when}입니다") # 가장 보기 좋은것

출력
좋은 저녁 입니다
좋은 %s입니다
좋은 저녁입니다
좋은 저녁입니다

In [5]:
# 여러개의 값을 한번에 저장하는 자료형들

######################################################
# 리스트:List  튜플:Tuple   딕셔너리:Dict   셋:Set   #
######################################################

# 리스트
# 개별적 독립적인 자료가 아닌 자료들을 여러개를 모아서 사용하게 도와준다
# 리스트에 넣는 자료를 요소(element)라고 한다

# 리스트는 대괄호[]로 구성된다
list = [1,2,3,4,5]
print(list)

# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다.
# 하지만 하나의 리스트에는 한가지 자료형만 저장하는게 좋다.
list = [1,2,3,"대한","민국"]
print(list)

score=[70,80,90,60]
print(score)
# 리스트는 인덱싱과 슬라이싱이 가능하다
print(score[0]) # 인덱싱
print(score[1:3]) # 슬라이싱

# 리스트는 수정/삭제 가 가능하다
score[0] = 100
print(score)

# 연산이 가능하다
list_a = [1,2,3]
list_b = [4,5,6]
print("list_a = ",list_a)
print("list_b = ",list_b)
print(list_a + list_b)
print(list_a * 3)
print(len(list_a)) # 리스트의 길이

[1, 2, 3, 4, 5]
[1, 2, 3, '대한', '민국']
[70, 80, 90, 60]
70
[80, 90]
[100, 80, 90, 60]
list_a =  [1, 2, 3]
list_b =  [4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [ ]:
# 리스트에서 많이 사용되는 함수들
# append : 리스트에 요소를 추가할 때 사용, 끝에만 추가

print(score)
score.append(60)
print(score)
score.append(70)
print(score)

In [ ]:
# insert : 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가

score.insert(0,10) # 0번째에 10 추가
print(score)

In [ ]:
# del : 리스트에서 데이터 삭제

list_a = [0,1,2,3,4]
del list_a[1] # 인덱스값으로 위치값 삭제
print(list_a)

del list_a[1:3]
print(list_a)

In [ ]:
# pop : 리스트에서 마지막 위치 데이터 삭제

list_a.pop()
print(list_a)

In [ ]:
# remove : 값으로 삭제

list_a=[1,2,3,1,2]
list_a.remove(2) # remove는 요소의 값을 찾아 삭제한다
                 # 동일한 값이 여러개 있을 경우, 하나씩 순차적으로 삭제한다
print(list_a)

# list_a,clear(1) # 동일한 값이 있어도 전부 삭제 가능하다

In [ ]:
# in / not in  리스트에 존재하는 요소인지 확인

list = [33,22,44,55,66,77,2]
print(44 in list)